<div class="row bg-dark">
  <div class="col">
    <div class="navbar navbar-dark">
      <div class="navbar-brand text-white">
        DVD Movie Store!
      </div>
    </div>
  </div>
  <div class="col-3 text-white mr-1 text-right">
    <app-cart-summary></app-cart-summary>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-3">
    <app-category-filter></app-category-filter>
  </div>
  <div class="col">
    <app-movie-list></app-movie-list>
    <app-pagination></app-pagination>
  </div>
</div>
